<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Cars</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>

<body>
<h1>th:each</h1>

<table border="1">
    <thead>
    <tr>
        <th scope="col">brand</th>
        <th scope="col">color</th>
        <th scope="col">power</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${carList}">
        <td th:text="${car.brand}"/>
        <td th:text="${car.color}"/>
        <td th:text="${car.power}"/>
    </tr>
    </tbody>
</table>
</body>
</html>